.color-picker{
	display: block;
	width: 45px;
}

.chart-box{
	border: 2px solid;
    width: 80px;
    height: 150px;
    position: relative;
    float: left;
}

.chart-item{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chart-icon{
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.chart-value{
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.singleChartImg {
    width: 100px;
    height: 155px;
    top: 50px;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.addTemplateBtn {
    background-color: #27abf0;
    border-radius: 1px;
    cursor: pointer;
}
.fa-plus{
    color: white;
}

.ch_preview_area{
    float: left;
    height: 220px;
    padding: 20px 60px;
}
.ch_title_area{
    height: 30px;
    clear: both;
    text-align: center;
    line-height: 30px;
}
.all_ch_preview_area{
    border: 2px solid #ccc;
    float: right;
    padding-top: 20px;
}

.remove{
    visibility: hidden;
}

.chart-collection{
    margin-bottom: 10px;
}

.chart-title-form{
    width: 260px;
    border-right: 1px solid #ccc;
    padding: 10px;
    height: 250px;
}

.insp-description{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-name{
    height: 22px;
}

.form-delete-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.user-name{
    display: block;
    font-size: 2em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: plum;
    vertical-align: middle;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.preview_main_area{
    display: flex;
    flex-direction: column;
    width: 204px;
    float: right;
}